#container{
    
}

#user-img{
    float: left;
}

#constatistics-containertainer {
    text-align: justify;
}
#statistics-container > div {
    width: 100px; /* Declare your value. Can be in relative units. */
    display: inline-block;
    vertical-align: top;
}
#statistics-container:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#statistics-container > div  > p{
    margin: 0;
}